/* colors */

/* text colors */
$baseTextColor: #242424;
$baseHeadersColor: #242424;
$baseLinksColor: #333333;
$baseLinksColorHover: #000000;

/* forms */
$formAcceptColor: #00b50b;
$formErrorColor: #b10000;

/*** buttons ***/

/* backgrounds */
$buttonDefaultType: #ccc;
$buttonDefaultTypeHover: #d8d8d8;

$buttonRedType: #b10000;
$buttonRedTypeHover: #c90000;

$buttonGreenType: #1ab123;
$buttonGreenTypeHover: #1ab123;

$buttonBlueType: #255eb1;
$buttonBlueTypeHover: #255eb1;

/* Colors */
$buttonDefaultTypeText: #fff;
$buttonRedTypeText: #fff;
$buttonGreenTypeText: #fff;
$buttonBlueTypeText: #fff;