%li.wl-item
  .wl-top
    .wl-img
      %a.wl-cell{:href => work_url(work.id)}
        - image = work.images.first
        - if image.present?
          %img.thumb.wp-post-image{:alt => image.description, :src => image.file_url(:croped), :title => image.title}/
        - else
          = image_tag 'no_photo.png'
  %a.wl-title{:href => work_url(work.id)}
    %span= work.description
