%footer.footer-section
  .base-width.clearfix
    .left-col
      © 2014
      %a.white-link{:href => '#'}
        %strong Татауров Василий - Резьба по дереву

      = render 'shared/yandex_counter' if Rails.env == 'production'

    .right-col
      .f-made-by
        Сайт делал
        %a.white-link{:href => 'http://www.alexey-tataurov.ru', :title => 'by zeal', :target => '_blank'}
          %strong Татауров Алексей
