#footer{:data => {:'900' => ' background-position:0px 0px;', :'0' => 'background-position: 0px -600px;'}}
  .inside
    .main.clearfix
      .footer-box.one-third.widget-box
        .textwidget
          %p
            %a.button{:href => '#'} Написать
          Пишите письма
      .footer-box.widget-box
        %h3 Немного истории:
        .textwidget
          В России резьба по дереву называлась резным делом. Рисунок — ознамёнка, употреблялись также слова: вызорочье, узорочье. Резное дело в народных традициях.

      .footer-box.one-third.widget-box
        .textwidget

    .secondary.clearfix
      .left
        %p
          © 2014
          %a{:href => '#'}
            %strong Татауров Василий - Резьба по дереву
          All Rights Reserved.
      .right
        %p
          Сайт делал
          %a{:href => 'http://www.alexey-tataurov.ru', :title => 'by zeal', :target => '_blank'}
            %strong Татауров Алексей
