%footer.footer-section
  .base-width.clearfix
    .left-col
      © 2014
      %a.white-link{:href => root_url}
        %strong Татауров Василий - Резьба по дереву
      .mt10
        %a.white-link{:href => 'mailto:zealnm@mail.ru'} Написать письмо
      .mt10
        = render 'shared/yandex_counter' if Rails.env == 'production'

    .right-col
      .f-made-by
        Сайт делал
        %a.white-link{:href => 'http://www.alexey-tataurov.ru', :title => 'by zeal', :target => '_blank'}
          %strong Татауров Алексей
