#footer
  .inside
    .secondary.clearfix
      .left
        %p
          © 2014
          %a.white-link{:href => '#'}
            %strong Татауров Василий - Резьба по дереву
          All Rights Reserved.

        = render 'shared/yandex_counter'  
        
      .right
        %p
          Сайт делал
          %a.white-link{:href => 'http://www.alexey-tataurov.ru', :title => 'by zeal', :target => '_blank'}
            %strong Татауров Алексей
