%header.header-section
  .header-wrapper
    .base-width.clearfix
      %a.h-logo{:href => root_url}
        Резьба по дереву
        %span.l-slug Авторские работы Татаурова Василия
      = render 'shared/main_nav'
