#header.scroll-block
  .inside.clearfix
    #logo
      %h1.logo
        %a{:href => '#'}
          Резьба по дереву
    = render 'shared/main_nav'

  #home-banner{:data => {:'0' => ' background-position:0px 0px;', :'450' => 'background-position:0px -500px;'}}
    #banner-text{:data => {:'0' => 'top: 250px; opacity: 1;', :'400' => 'top: 150px; opacity: 0;'}}
      %h2 Резьба по дереву
      %p Мастер резьбы по дереву - Татауров Василий
