#main-nav.clearfix
  .menu-main-menu-container
    %ul#menu-main-menu.sf-menu
      %li.menu-item-object-page.current-menu-item
        %a{:href => root_url} Главная
      %li.menu-item-object-page.current-menu-item
        %a{:href => works_url} Портфоли
      %li.menu-item-object-page.current-menu-item
        %a{:href => contacts_url} Контакты
      %li.menu-item-object-page.current-menu-item
        %a{:href => works_url} Все работы
      %li.menu-item-object-page.current-menu-item
        %a{:href => about_url} Обо мне
