#main-nav.clearfix
  .menu-main-menu-container
    %ul#menu-main-menu.sf-menu
      %li.menu-item-object-page.current-menu-item
        %a{:href => '#'} Главная
      %li.menu-item-object-page.current-menu-item
        %a{:href => '#'} Портфоли
      %li.menu-item-object-page.current-menu-item
        %a{:href => '#'} Контакты
      %li.menu-item-object-page.current-menu-item
        %a{:href => '#'} Все работы
      %li.menu-item-object-page.current-menu-item
        %a{:href => '#'} Обо мне
