%meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
%meta{:content => 'ru_RU', :property => 'og:locale'}
%meta{:content => 'website', :property => 'og:type'}
%title Портфолио Татаурова Василия
%meta{:content => 'width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no', :name => 'viewport'}
%meta{:content => 'Описание сайта', :name => 'description'}
%link{:href => 'http://www.vasiliy-tataurov.ru/', :rel => 'canonical'}
%meta{:content => 'Собрание работ мастера резьбы по дереву Татаурова Василия Лазаревича', :property => 'og:title'}
%meta{:content => 'Собрание работ мастера резьбы по дереву Татаурова Василия Лазаревича', :property => 'og:description'}
%meta{:content => 'http://www.vasiliy-tataurov.ru/', :property => 'og:url'}
%meta{:content => 'Портфолио Татаурова Василия', :property => 'og:site_name'}
%meta{:content => ' ', :name => 'generator'}
