%meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}

%meta{:content => 'ru_RU', :property => 'og:locale'}
%meta{:content => 'website', :property => 'og:type'}

%title= @seo_title

%meta{:content => 'width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no', :name => 'viewport'}
%meta{:content => @seo_description, :name => 'description'}

%link{:href => 'http://www.vasiliy-tataurov.ru/', :rel => 'canonical'}

%meta{:content => @seo_title, :property => 'og:title'}
%meta{:content => @seo_description, :property => 'og:description'}

%meta{:content => 'http://www.vasiliy-tataurov.ru/', :property => 'og:url'}
%meta{:content => @seo_site_name, :property => 'og:site_name'}
%meta{:content => ' ', :name => 'generator'}
