%section
  .base-width.clearfix
    %h1= @seo_site_name
    %p= @seo_snippet

%section.rubrics-nav-section
  .base-width.clearfix
    = render 'shared/rubrics_nav', :rubrics => @rubrics

%section.main-works-list-section
  .base-width.clearfix
    = render 'works/list', :works => @works if @works.present?
