!!!
%html{:lang => 'en-US', :prefix => 'og: http://ogp.me/ns#'}
  %head
    %link{:href => 'http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic', :rel => 'stylesheet', :type => 'text/css'}/

    = stylesheet_link_tag 'application', :media => 'all'

  %body.home.page.page-template-default

    = yield

    = javascript_include_tag 'application', :defer => true
    = javascript_include_tag 'init', :defer => true